.jumbotron {
	background-color: red;
	color: black;
	margin-top: 50px;
}

.btn {
	
	width: 100%;
	border-radius:2px;
	margin-bottom: 5px;
}

footer{
	margin-top:100px;
}

.iconos {

padding-right: 10px;

}

.card-game{
	flex:1 200px;
	margin-top: 10px;
}

.imagen-banner{
	width: 90%;
	display:block;
	margin:auto;
}

.tab-content {
	padding-top: 10px;
}